# Node modules
backend/node_modules/
frontend/node_modules/

# Environment files
backend/.env
frontend/.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build folders
frontend/dist/
backend/dist/

# Coverage
coverage/

# IDE files
.vscode/
.idea/